	a {
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: 20px;
		text-decoration: none;
		color: black;
		margin: 30px;

	}
	h1 {
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: 40px;
		text-decoration: none;
		color: black;
		margin: 30px;
	}

	h2 {
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: 20px;
		text-decoration: none;
		color: black;
		margin: 30px;
	}