	body {
		background-color: #fdf5e6;
	}

	main{
		display: inline-flex;
		flex-wrap: wrap;
	}

	a {
		font-family: 'Muli', sans-serif;
  		font-style: normal;
  		font-weight: 600;
  		font-size: 20px;
		text-decoration: none;
		color: #7a7a7a;

	}
	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-style: normal;
  		font-weight: 300;
		font-size: 40px;
		text-decoration: none;
		color: #424242;
		margin: 15px;
	}

	

	.button{
		transition-duration: 0.4s;
		line-height: 180px;
  		text-align: center;
  		vertical-align: middle;
    	text-decoration: none;
    	border: 1px solid #302626;
    	width: 180px;
    	height: 180px;
    	color: #696969;
    	padding: 20px;
    	margin: 15px;
    	display: inline-block;
    	cursor: pointer;
	}

	.button:hover{
		background-color: #7a7a7a;
    	color: #fdf5e6;
	}

	.dropbtn {
		font-family: 'Muli', sans-serif;
  		font-style: normal;
  		font-weight: 600;
  		font-size: 20px;
		text-decoration: none;
		color: #7a7a7a;
		margin: 15px;		

		background-color: #fdf5e6;
    	transition-duration: 0.4s;
		line-height: 222px;
    	height: 222px;
    	width: 222px;
  		text-align: center;
  		vertical-align: middle;
    	text-decoration: none;
    	border: 1px solid #302626;  
    	cursor: pointer;
	}

	.dropbtn:hover{
		background-color: #7a7a7a;
    	color: #fdf5e6;
	}

	.buttondrop{
		position: relative;
		display: inline-block;
		top: 20px;
	}

	.buttondrop-content{
		display: none;
    	position: absolute;
    	/*min-width: 180px;*/

    	width: 222px;
    	/*background-color: #a3a3a3;*/
    	padding-left: 15px;
    	/*z-index: 1;*/
	}

	.buttondrop-content a {
    	color: #696969;
    	padding: 10px;
    	text-align: center;
  		vertical-align: middle;
    	text-decoration: none;
    	border: 1px solid #302626;
    	display: block;
	}

	.buttondrop-content a:hover {
		transition-duration: 0.4s;	
		background-color: #a3a3a3;
		color: #fdf5e6;
	}


	.buttondrop:hover .buttondrop-content {
    	display: block;
	}

	/*.buttondrop:hover .button {
    	background-color: #696969;
	}*/